@model int
@{
    Layout = null;//"_Layout"; // Or null if you don't want to use a layout
    ViewData["Title"] = $"HTTP Error {Model}";
}
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>⚠️ HTTP Error @Model ⚠️</title>
    <link rel="stylesheet" href="~/css/error.css" />
</head>
<body>
    <h1>⚠️ HTTP ERROR @Model ⚠️</h1>
    <div class="glitch">@Model</div>
    <div class="subtitle">Boss Makes a Dollar. I Make a Dime. That's Why I Poop On Company Time</div>
</body>
</html>
