@model int
@{
	Layout = null;//"_Layout"; // Or null if you don't want to use a layout
	ViewData["Title"] = $"HTTP Error {Model}";
}
<!DOCTYPE html>
<html lang="sv">
<head>
	<link rel="stylesheet" href="~/css/error.css" asp-append-version="true" />
	<meta charset="UTF-8">
	<title>⚠️ HTTP Error @Model ⚠️</title>
	
</head>
<body>
	<h1>⚠️ HTTP ERROR @Model ⚠️</h1>
	<div class="glitch"></div>	
	<img src="~/images/huh.gif" asp-append-version="true" />
	<div class="subtitle">Boss Makes a Dollar. I Make a Dime. That's Why i Poop On Company Time</div>
</body>
</html>